{% extends "index.html" %}
{% block title %}
    <title>{{post.title}}</title>
{% endblock title %}

{% block content %}
<div class="card" style="margin-top: 10px;">
    <div class="card-header">
        <h5 class="card-title">{{post.title}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.content | linebreaks}}</p>
    </div>
    <div class="card-footer">
        created date: {{post.date}}{% if post.link %}
        ~<a href="{{post.link}}" target="_blank">incele</a>
        {% endif %}
        <i data-post={{post.id}} data-action="add"  style = " margin-left: 10px; height:25px; width:auto; " class="fa-solid fa-heart-circle-plus favi update-fav"></i>
      </div>
  </div>

  <a href="{% url 'postdetail' slug=pastPost.slug %}"> past</a>
  <a href="{% url 'postdetail' slug=nextPost.slug %}"> next </a>
{% endblock content %}